# OLA MUNDO

In [1]:
print ('ola "teste" mundo')# uma string dentro de outra

ola "teste" mundo

# EXEMPLOS DE COMENTARIOS

In [ ]:
# Comentado uma linha
"""
comentario de blocos usando aspas duplas
"""

'''
pode usar aspas simples
'''

# Criando variáveis

In [4]:
nome="Thiago henrique Maia"
idade=35 #inteiro

altura= 1.79 #float
peso =92.2 #float 

instrutor = False #boolean


print (nome)
print (idade)
print (altura)
print (peso)
print (instrutor)

print(nome,type(nome))
print(idade,type(idade))
print(altura,type(altura))
print(peso,type(peso))
print(instrutor,type(instrutor))
print("Nome:",nome,"idade:",idade,"Altura:",altura,"peso:","instrutor:",instrutor)

Thiago henrique Maia
35
1.79
92.2
False
Thiago henrique Maia <class 'str'>
35 <class 'int'>
1.79 <class 'float'>
92.2 <class 'float'>
False <class 'bool'>
Nome: Thiago henrique Maia idade: 35 Altura: 1.79 peso: instrutor: False

# Conversão de tipo de dados

In [5]:
var=10
print("valor sem conversao:",type(var))
var =str(var)

print ("valor convertido:",type(var))

valor sem conversao: <class 'int'>
valor convertido: <class 'str'>

# Concatenação de dados (Junção)

* Utilizando o +  tem que fazer a conversão para fazer a junção

In [9]:


nome="Thiago Henrique Maia"
idade=35
altura=1.79

# Utilizando o +
print('Meu nome é:' +nome+' idade: '+str(idade)+' Altura: '+str(altura)+' !')

Meu nome é:Thiago Henrique Maia idade: 35 Altura: 1.79 !

* Utilizando o print ("","","")

In [10]:
print('Meu nome é:',nome,'idade:',str(idade),'Altura:',str(altura),' !')

Meu nome é: Thiago Henrique Maia idade: 35 Altura: 1.79  !

* Utilizando o print(f'') (f stream)

In [11]:
print(f'Ola meu nome {nome} tenho {idade} anos e altura {altura}')

Ola meu nome Thiago Henrique Maia tenho 35 anos e algura 1.79

# Entrada de dados (Iteração com o usuário)

In [2]:
nome = input("Digite seu nome: ")

print(f'Seu nome é {nome}')

thiago

#Atividade
* Criar um nome para receber o nome, idade, peso e altura do usuário
* Restringir a idade para receber somente int
* Restringir Altura e peso para receber float
* Imprimir todas as informações do usuário usando a concatenação f stream
* Imprimir os tipos das variaveis

In [5]:
nome = input("Digite seu nome: ")


idade = int(input("Digite sua idade: "))
peso = float (input("Digite seu peso: "))
altura = float (input("Digite sua altura: "))

print (f"Seu nome é :{nome} tem {idade} anos, pesa {peso} e tem {altura} de altura")

print(f"Tipo de dados das variaveis : nome: {type(nome)}, idade: {type(idade)}, peso: {type (peso)}, altura: {type(altura)}")

Seu nome é :Thiago tem 56 anos, pesa 120.0 e tem 2.0 de altura
Tipo de dados das variaveis : nome: <class 'str'>, idade: <class 'int'>, peso: <class 'float'>, altura: <class 'float'>

# Utilizando o try except para tratar os dados

In [6]:

nome = input("Digite seu nome: ")

try:
    idade = int(input("Digite sua idade: "))
    peso = float (input("Digite seu peso: "))
    altura = float (input("Digite sua altura: "))
except Exception as error:
    print ("Valor digitado incorreto")

print (f"Seu nome é :{nome} tem {idade} anos, pesa {peso} e tem {altura} de altura")

print(f"Tipo de dados das variaveis : nome: {type(nome)}, idade: {type(idade)}, peso: {type (peso)}, altura: {type(altura)}")

Valor digitado incorreto
Seu nome é :thiago tem 56 anos, pesa 120.0 e tem 2.0 de altura
Tipo de dados das variaveis : nome: <class 'str'>, idade: <class 'int'>, peso: <class 'float'>, altura: <class 'float'>